body, html {
  font-family: 'Source Sans Pro', 'Coiny';
  margin: 0;
  padding: 0;
  color: white;
}

/* Header
    -------------------------------------------------- */

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: transparent; /* Supprime toute couleur de fond */
}

/* Logo
    -------------------------------------------------- */
.logo {
  width: 168px;
  height: 30px;
  display: flex;
  align-items: center;
}
.logoWord {
  padding-left: 10px;
  width: 112px;
  height: 15px;
  margin-bottom: 11px;
}

.logoSmile {
  width: 37px;
  height: 30px;
}

/* Naviguation
    -------------------------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 172px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 12px;
}

/* Top hero
    -------------------------------------------------- */

.heroSection {
  background-image: url('/css_advanced/assets/heroImage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1093px;
  width: 100%;
  margin-top: 0;
  padding-top: 120px;
}

.heroTitle {
  text-align: center;
}

/* Hero title
    -------------------------------------------------- */

.mainTitle {
  font-size: 130px;
  margin-bottom: 0;
  font-weight: bold;
}

.heroText {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 58px;
  margin-bottom: 38px;
}

.mainButton {
  color: white;
  background-color: #C271FF;
  width: 182px;
  height: 44px;
  border-radius: 22px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  padding: 0;
  margin-bottom: 168px;
}

/* Team Members
    -------------------------------------------------- */

#teamTitle {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 88px;
}

.teamMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.teamMemberContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 14%;
  margin-right: 14%;
  gap: 80px;
}

.learn {
  color: #C271FF;
}

.teamName {
  margin-top: 2px;
  margin-bottom: 2px;
}

.teamText {
  font-size: 16px;
  font-style: italic;
  margin-top: 2px;
  text-align: center;
}

.teamMember img {
  height: 150px;
  width: 150px;
}

.event {
  display: block;
  margin-top: 5px;
}

/* Quotes Section
    -------------------------------------------------- */

.quoteSection {
  background-color: #c271ff;
  height: 392px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quoteSectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  text-align: left;
  gap: 20px;
}

#quoteSectionContainer img {
  height: 160px;
  width: 160px;
}

#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

blockquote {
  font-size: 22px;
  font-style: normal;
  margin: 0 0 10px 0;
}

.author {
  font-size: 22px;
  font-weight: bold;
  height: 34px;
  width: 129px;
  margin: 0px;
}

.quoteText {
  font-size: 22px;
  font-style: italic;
  margin: 0px;
}

/* Video Section
    -------------------------------------------------- */

.videoSection {
  margin: 5% 15% 5% 15%;
  color: black;
}

#videoTitle {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 75px;
}

#popular {
  color: #c271ff;
  font-weight: bold;
  font-size: 32px;
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.videoBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  height: 335px;
  width: 255px;
  gap: 10px;
}

.videoName {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 13px;
}

.videoText {
  font-size: 14px;
  color: #666;
  margin: 0 13px 10px 13px;
}

.author {
  display: flex;
  align-items: center;
  margin-left: 13px;
  gap: 10px;
}

.videoBlock img {
  height: 154px;
  width: 255px;
}

.author img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.authorName {
  font-size: 14px;
  color: #c271ff;
}

.videoRating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 13px;
  width: 85%;
}

.videoRating img {
  height: 14px;
  width: auto;
}

.ratingText {
  font-size: 14px;
  color: #c271ff;
  margin-left: 10px;
  white-space: nowrap;
}

.videoImageContainer {
  position: relative;
  width: 255px;
  height: 154px;
}

.videoImage {
  width: 100%;
  height: 100%;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px !important;
  height: 64px !important;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Membership Section
    -------------------------------------------------- */

.membershipSection {
  background-color: #071629;
  padding: 50px 0;
  text-align: center;
}

#membershipTitle {
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 32px;
  margin-bottom: 40px;
}

#free {
  color: #c271ff;
  font-weight: bold;
}

#membershipBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.membershipCard {
  padding: 20px;
  text-align: center;
  width: 200px;
}

.membershipCard img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.cardTitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.cardText {
  font-size: 14px;
  color: white;
}

.registerButton {
  color: white;
  background-color: #C271FF;
  width: 182px;
  height: 44px;
  border-radius: 22px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  cursor: pointer;
}


/* FAQ Section
    -------------------------------------------------- */

.faqSection {
  color: #071629;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.faqSection h1 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 40px;
}

.faqBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 149px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: center;
  bottom: 84px;
}

.itemBlock {
  width: 350px;
  height: 242px;
  padding: 20px;
  height: auto;
}

.itemTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.itemText {
  font-size: 14px;
  line-height: 1.6;
}

/* Footer
    -------------------------------------------------- */

footer {
  position: relative;
  background-color: #071629;
  width: 100%;
  height: 249px;
}

.footerText {
  position: absolute;
  bottom: 39px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 35%;
  margin: 0;
  text-align: center;
}


.footerlink {
  position: absolute;
  right: 240px;
  bottom: 129px;
  text-align: end;
  transform: translateX(-50%);
}

.footerlink img { 
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.footerlogo {
  position: absolute;
  left: 300px;
  bottom: 124px;
  text-align: start;
}